.navbar{
    font-family: 'Sarabun', sans-serif;
}

.navbar-brand{
    font-family: 'Sarabun', sans-serif;
}

.nav-item{
    font-family: 'Sarabun', sans-serif;
}

.nav-item{
    font-family: 'Sarabun', sans-serif;
}

.dropdown{
    font-family: 'Sarabun', sans-serif;
}

.card-head{
    font-family: 'Sarabun', sans-serif;
}
.container{
    font-family: 'Sarabun', sans-serif;
}
.footer{
    font-family: 'Oswald', sans-serif;
}